doctype 5
html(ng-app="chatApp")
    head
        title= title
        link(rel="stylesheet", href="/vendors/jquery-ui/css/smoothness/jquery-ui-1.10.1.custom.min.css")
        link(rel="stylesheet", href="/vendors/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="/css/main.css")

    body
        block content
