#chat
    ul.scroll.scroll-y(autoscroll="1")
        li.message(ng-repeat="message in messages")
            span(class="user color-{{message.user_colour}}", ng-bind="message.username")
            span.date(nice-time="message.utDateAdded")
            span.content(ng-bind="message.message")