extends ../layouts/main

block content
    #sidebar(ng-controller="UserCtrl")
        ul#nicklist.scroll
            li(ng-repeat="user in users")
                a(class="color-{{user.colour}}")
                    i(status-icon="user.status_id")
                    {{user.username}}
        resizer(axis="x", resize="#sidebar", shrink="#main")

    #main
        #mainmenu(ng-controller="MenuCtrl")
            .nav.nav-tabs
                li(ng-class="{active: $route.current.activeTab == 'chat'}")
                    a(href="#/chat") Chat
                        unseen-count(type="message")

                li(ng-class="{active: $route.current.activeTab == 'files'}")
                    a(href="#/files") Files
                        unseen-count(type="files")

        div#content(ng-view)

        form#compose(ng-controller="ComposeCtrl", ng-submit="send()")
            resizer(axis="y", resize="#compose", shrink="#content")
            textarea(ui-event="{'keydown': 'typing($event)'}", placeholder="Compose a message...")

    script(src="/vendors/jquery.min.js")
    script(src="/vendors/jquery-ui/js/jquery-ui-1.10.1.custom.min.js")
    script(src="/vendors/bootstrap/js/bootstrap.min.js")
    script(src="/vendors/angular.min.js")
    script(src="/vendors/angular-ui/build/angular-ui.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/app.js")
    script(src="/js/services.js")
    script(src="/js/directives.js")
    script(src="/js/controllers.js")
    script
        chatApp.run(function (User, Message, File) {
            Message.set(!{JSON.stringify(messages)});
            File.set(!{JSON.stringify(files)});
        });