extends ../layouts/main

block content
    .container
        form.form-signin(action="/login", method="post")
            h2.form-signin-heading Please sign in
            input(type="text", name="username", placeholder="Username")
            input(type="password", name="password", placeholder="Password")
            input.btn.btn-large.btn-primary(type="submit", value="Login")
