resizer {
  position: absolute;
  z-index: 20;
  background: #ededed;
}
resizer:hover {
  opacity: 1;
  background: #e1e1e1;
}
.scroll {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.scroll-y {
  overflow-y: scroll;
}
#top,
#sidebar,
#main {
  position: absolute;
}
#sidebar {
  width: 150px;
  top: 0;
  bottom: 0;
}
#sidebar #nicklist li {
  list-style: none;
}
#sidebar #nicklist li a {
  display: block;
  padding: 5px 8px;
  text-decoration: none;
  cursor: pointer;
}
#sidebar #nicklist li a i {
  margin-right: 5px;
}
#sidebar #nicklist li a:hover {
  background-color: #e8eefa;
}
#sidebar .scroll {
  right: 5px;
}
#sidebar resizer {
  top: 0;
  bottom: 0;
  right: 0;
  cursor: ew-resize;
  width: 5px;
}
#main {
  left: 150px;
  right: 0;
  top: 0;
  bottom: 0;
}
#main #mainmenu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}
#main #mainmenu .nav {
  padding: 5px 0 0 5px;
  background: #fbfbfb;
}
#main #mainmenu .nav a {
  padding: 5px 12px;
  position: relative;
}
#main #mainmenu .nav a .badge {
  position: absolute;
  top: -4px;
  right: -8px;
  padding: 0 5px;
  line-height: 16px;
}
#main #content {
  top: 37px;
  position: absolute;
  bottom: 65px;
  left: 0;
  right: 0;
}
#main #content #chat {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
}
#main #content #chat li.typing {
  font-style: italic;
}
#main #content #chat li {
  border-top: 1px dashed #d8d8d8;
  position: relative;
  padding: 10px 5px;
  list-style: none;
}
#main #content #chat li .user {
  display: block;
}
#main #content #chat li .date {
  position: absolute;
  right: 0;
  top: 10px;
  color: #bababa;
  font-size: 13px;
}
#main #content #chat li .content {
  clear: both;
}
#main #content .scroll {
  padding: 0 10px;
}
#main #compose {
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: lightgrey;
}
#main #compose resizer {
  top: 0;
  left: 0;
  right: 0;
  cursor: ns-resize;
  height: 5px;
}
#main #compose textarea {
  border: 0;
  margin: 0;
  border-radius: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 5px;
  resize: none;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
}
/** user colours **/
.color-red {
  color: #C33B3B;
}
.color-green {
  color: #2A8C2A;
}
.color-purple {
  color: #B037B0;
}
.color-brown {
  color: #66361F;
}
.color-yellow {
  color: #D9A641;
}
.color-blue {
  color: #3636B2;
}
/** user colours end **/
/** login form **/
.container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  width: 275px;
}
/** login form end **/